<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" routerLink="/inicio" routerLinkActive="active">Inicio</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Iniciar sesión</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/registrar" routerLinkActive="active">Registrar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/principal" routerLinkActive="active">Principal</a>
    </li>
</ul>